.game-container{
    overflow: hidden;
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.game{
    height: 80vh;
}

.game-container,.info-container{
    display: table-cell;
}
