.login-container {
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.login-modal {
    background: white;
    border-radius: 10px;
    width: 450px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-marginbot {
    margin-bottom: 30px;
}

.login-margintop {
    margin-top: 30px;
}

.login-error-message{
    color: red;
    top:90px;
    transition: 1s;
    position: absolute;
}