.gc-game-cell{
    width: 40px;
    height: 40px;
    background: rgba(128, 119, 153, 0.438);
    position: relative;
    padding: 0px !important;
    margin: 1px;
}
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
.gc-game-cell a{
    align-content: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 48px;
    position: absolute;
    top:-24px;
}


.gc-game-cell.o{
    color: white;
}