.rect-btn {
    width: 350px;
    height: 60px;
    color: white;
    background-color: #F98D0F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    /* margin-right: 10px; */
}

.rect-btn:hover,
.rect-btn:focus {
    background-color: rgb(204, 119, 21);
    outline-color: rgba(243, 148, 40, 0.575) !important;
}

.rect-btn.text-black {
    color: black;
}

.rect-btn.background-gray {
    background: #E5E5E5;
}

.rect-btn.small-width {
    width: 170px;
}

.rect-btn.background-gray:hover,
.rect-btn.background-gray:focus {
    background-color: rgb(204, 204, 204);
    outline-color: rgba(229, 229, 229, 0.747) !important;
}