.msg-message-container{
    position: relative;
    display: flex;
    margin: 8px 16px;
}

.msg-avatar-div{
    background: rgba(163, 208, 230, 0.25);
    display: inline-block;
    border-radius: 8px;
    width: 60px !important;
    height: 60px !important;
}


.msg-message-div{
    background: rgba(163, 208, 230, 0.25);
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    margin: 0px 8px;
}
.msg-message-div p{
    display: inline;
    color: white;
}

.msg-message-div p::first-letter{
    text-transform: capitalize;
}


.msg-message-container.response{
    flex-direction: row-reverse;
}

.response .msg-avatar-div,.response .msg-message-div{
    background: rgba(128, 119, 153, 0.438);

}