.gsb-border{
    border: 1px solid white;
    padding: 16px;
}

.user-info-container{
    display: flex;
}

.gsb-game-size-bar{
    width: 30%;
}

.gsb-game-ava-container{
    width: 100%;
    height: 100%;
}

.gsb-game-ava-container.left{
    margin-right:8px;
}

.gsb-game-ava-container.right{
    margin-left:8px;
}


.gsb-user-info-container .row{
    width: 100%;
    height: 200px;
}